<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agregar empleado</title>
</head>
<body>
    <%- include("header") %>

        <h1>Agrega un empleado</h1>
        <form action="/employees/create" method="post">
            <div class="form-field">
                <label for="cuit">Cuit</label>
                <input type="number" name="cuit" id="cuit">
            </div>
            <div class="form-field">
                <label for="nombre_completo">Nombre completo</label>
                <input type="text" name="nombre_completo" id="nombre_completo">
            </div>
            <div class="form-field">
                <label for="puesto">Puesto</label>
                <input type="text" name="puesto" id="puesto">
            </div>
            <div class="form-field">
                <label for="fecha_de_ingreso">Fecha de ingreso</label>
                <input type="date" name="fecha_de_ingreso" id="fecha_de_ingreso">
            </div>
            <div class="form-field">
                <label for="obra_social">Obra social</label>
                <input type="text" name="obra_social" id="obra_social">
            </div>
            <div class="form-field">
                <label for="antiguedad">Antiguedad</label>
                <input type="number" name="antiguedad" id="antiguedad">
            </div>
            <div class="form-field">
                <label for="modalidad">Modalidad</label>
                <input type="text" name="modalidad" id="modalidad">
            </div>
            <div class="form-field">
                <label for="tiempo_trabajado">Tiempo trabajado</label>
                <input type="number" name="tiempo_trabajado" id="tiempo_trabajado">
            </div>
            <div class="form-field">
                <label for="salario_basico">salario basico</label>
                <input type="number" name="salario_basico" id="salario_basico">
            </div>
            <div class="form-field">
                <label for="dias_trabajados">Dias trabajados</label>
                <input type="number" name="dias_trabajados" id="dias_trabajados">
            </div>
            <div class="form-field">
                <label for="secundario">Titulo secundario</label>
                <input type="checkbox" name="secundario" id="secundario">
            </div>

            <button type="submit">Agregar empleado</button>
        </form>
</body>
</html>