<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= employee.nombre_completo %></title>
</head>
<body>
    <%- include("header") %>
    <ul>
        <% Object.keys(fields).forEach(key => { 
            const field = fields[key]
            const value = field.format ? field.format(employee[key]) : employee[key]
        %>
            <li><strong><%= field.label ? field.label : field %>:</strong> <%= value %> </li>
        <% }); %>
    </ul>
</body>
</html>