<header style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <nav>
        <ul style="display: flex; gap: 30px; list-style: none;">
            <li><a href="/">Inicio</a></li>
            <li><a href="/auth/signup">Crear cuenta</a></li>
            <li><a href="/auth/login">Inicia sesion</a></li>
            <li><a href="/auth/logout">Cerrar sesion</a></li>
            <li><a href="/employees">Empleados</a></li>
            <li><a href="/payroll">Liquidacion</a></li>
        </ul>
    </nav>
</header>